<p>
  <strong>Name:</strong>
  <%= @equips.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @equips.description %>
</p>
<p>
  <strong>Durability:</strong>
  <%= @equips.durability %>
</p>

<p>
  <strong>Equipment Type:</strong>
  <%= @equips.type %>
</p>

<p>
  <strong>Character ID:</strong>
  <%= @equips.character_id %>
</p>
<%= link_to 'Back', equips_path %>
<%= link_to 'Edit', edit_equips_path(@equips) %>

<%= link_to 'Equipments', equips_path %>
