<h1>Equipment List</h1>

<% @equipment.each do |item| %>

  <p>Weapon: <%= item.name %></p>
  <p>Weapon Description: <%= item.description %> </p>
  <p>Durability: <%= item.durability %> </p>
  <p>Equipment Type: <%= item.type %></p>
  <p>Character ID: <%= item.character_id %></p>
  <p>-------------------------------------------------------</p>
<% end %>
