<h1>Add new charaters</h1>


<%= form_with scope: :character, url: characters_path, local: true do |form| %>
  <p>
    <%= form.label :class_type %><br>
    <%= form.text_field :class_type %>
  </p>

  <p>
    <%= form.label :name %><br>
    <%= form.text_area :name %>
  </p>

  <p>
    <%= form.label :user_id %><br>
    <%= form.text_field :user_id %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
